* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul, 
ol {
    list-style-type: none;
}